*{
    padding: 0;
    margin: 0;
}

.h1{
align-items: center;
}

.h2{
    align-items: center;
    padding: 16px 36px;
}

.animacao1{
    width: 70vw;
    height: 250px;
    margin: auto;
    border-radius: 20px;
    border: 1px gray solid;
    
}

.quadrado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    border-color: black;
    background-color: red;
    border-width: 1px blue solid;
    transition: border-width 3s,background-color 3s, color 3s, left 10s, border-radius 2s;
    position: relative;
    left: 0;
    
}

.quadrado:hover{
    color: crimson;
    background-color: blue;
    width: 100px;
    left:63vw;
    border-radius: 100%; 
    border-color: brown;
}


/* .quadrado{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    font-size: 16px;
    transition: width 4s, font-size 4s;
    transition-delay: 5s;

}

.quadrado:hover{
    width: 70vw;
    font-size: 36px;
}
 */

 .animacao2{
    width: 70vw;
    height: 250px;
    margin: auto;
    border-radius: 20px;
    border: 1px gray solid;
    
}

.quadrado2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    border-color: black;
    background-color: red;
    position: relative;
    animation-name: esquerda-direita;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
    animation-direction: alternate;

}
@keyframes esquerda-direita {
    from{left: 0px}
    to{left:1245px; background-color: aqua; background-color: blue; background-color: chartreuse;background-color: chocolate;}
 
}

a{
    
}

.btn{
    text-decoration: none;
    display: flex;
    width: 200px;
    padding: 16px 32px;
    font-size: 1.5rem;
    color: white;
    box-shadow:0 6px 20px 0 rgba(0,0,0,0.25);
}

.btn-doar{
    display: inline-block;
    background-color: brown;
    width: 100px;
    transition: width 2s ease, background-color 2s;
    text-align: center;
    
}

.btn-doar::after{
    font-family: "Font Awesome 6 free";
    content: "\f004";
    margin-left: 8px;
    position: relative;
    left: 70px;
    transition: left 1s ease-out, opacity 1s ease;
    opacity: 0;
}

.btn-doar:hover{
    background-color: red;
    width:280px;
}

.btn-doar:hover::after{
    left: 0;
    opacity: 1;
    
    
}


/* propriedades para animar */
/* left */
